<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" routerLink="attributes">CLASS & STYLE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" routerLink="for">FOR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" routerLink="if">IF</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet />
