<div class="container">
    <table class="table table-success">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>MOBILE NUMBER</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{studentData.id}}</td>
                <td>{{studentData.name}}</td>
                <td>{{studentData.mobilenumber}}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button class="btn btn-success m-3" (click)="cancel()">CANCEL</button>
    </div>
</div>